Tutorial/node_modules

Tutorial/dist

moduleFederation/mfe/app1/dist
moduleFederation/mfe/app1/node_modules

moduleFederation/mfe/app2/dist
moduleFederation/mfe/app2/node_modules

moduleFederation/mfe-dashboard/app1/dist
moduleFederation/mfe-dashboard/app1/node_modules

moduleFederation/mfe-dashboard/app2/dist
moduleFederation/mfe-dashboard/app2/node_modules

moduleFederation/mfe-dashboard/dashboard/dist
moduleFederation/mfe-dashboard/dashboard/node_modules


# MFE
Tutorial/src/indexes/mfe/app1/node_modules
Tutorial/src/indexes/mfe/app1/dist
Tutorial/src/indexes/mfe/app1/package-lock.json
Tutorial/src/indexes/mfe/app2/node_modules
Tutorial/src/indexes/mfe/app2/dist
Tutorial/src/indexes/mfe/app2/package-lock.json
