Tutorial/node_modules

Tutorial/dist

1_assetModules/**/node_modules
1_assetModules/**/dist

2_loaders/**/node_modules
2_loaders/**/dist

3_plugins/**/node_modules
3_plugins/**/dist


moduleFederation/mfe/app1/dist
moduleFederation/mfe/app1/node_modules

moduleFederation/mfe/app2/dist
moduleFederation/mfe/app2/node_modules

moduleFederation/mfe-dashboard/app1/dist
moduleFederation/mfe-dashboard/app1/node_modules

moduleFederation/mfe-dashboard/app2/dist
moduleFederation/mfe-dashboard/app2/node_modules

moduleFederation/mfe-dashboard/dashboard/dist
moduleFederation/mfe-dashboard/dashboard/node_modules


# MFE
Tutorial/src/indexes/mfe/app1/node_modules
Tutorial/src/indexes/mfe/app1/dist
Tutorial/src/indexes/mfe/app1/package-lock.json
Tutorial/src/indexes/mfe/app2/node_modules
Tutorial/src/indexes/mfe/app2/dist
Tutorial/src/indexes/mfe/app2/package-lock.json
