Tutorial/node_modules

Tutorial/dist

mfe
mfe/app1/dist
mfe/app1/node_modules

mfe/app2/dist
mfe/app2/node_modules

# MFE
Tutorial/src/indexes/mfe/app1/node_modules
Tutorial/src/indexes/mfe/app1/dist
Tutorial/src/indexes/mfe/app1/package-lock.json
Tutorial/src/indexes/mfe/app2/node_modules
Tutorial/src/indexes/mfe/app2/dist
Tutorial/src/indexes/mfe/app2/package-lock.json
