$font-size: 20px;
$button-color: red;

.button-style {
    font-size: $font-size;
    padding: 7px 15px;
    background: $button-color;
    color: white;
    outline: none;
}

.p-style {
    color: green;
    font-weight: bold;
}